* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
    height: 150px;
}

.left {
    width: 80%;
}

.right {
    width: 20%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    height: 100px;
}

.buttonInt {
    background-color: #ad4caf;
    color: white;
    padding: 25px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 30px;
}

